.row-container {
  margin: 20px;
}

.logo-image {
  height: 30px;
  width: auto;
}
.login-btn {
  border: 1px solid #dde2de;
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
  color: #a7b5ab;
  background-color: white;
}
.login-btn :hover {
  color: skyblue;
  opacity: 1;
}
h5 {
  font-size: 10px;
  color: black;
  margin: 0;
}
h6 {
  font-size: 8px;
  margin: 0;
}
.active-tab {
  border-bottom: 3px solid rgb(20, 190, 240);
}
.join-practa {
  font-size: 1px;
}
